/* Goggle Fonts - Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('images/bg-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 30px;
    padding: 40px 30px 60px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-app h2 img {
    width: 35px;
    margin-left: 15px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 10px;
    border-radius: 30px;
    margin-bottom: 30px;
}

input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 12px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    padding: 12px 50px;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    position: relative;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 10px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

/* ul li::before {
    background: url('images/checked.png');
    background-size: cover;
} */